@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply max-w-screen-xl mx-auto px-5;
  }
}

@layer components {
  .background-linear-capa {
    background: linear-gradient(
      162.73deg,
      rgba(162, 161, 238, 0.11) 8.55%,
      rgba(196, 196, 196, 0) 87.73%
    );
    backdrop-filter: blur(2px);
  }

  .background-linear-top {
    background: linear-gradient(
      360deg,
      rgba(238, 194, 161, 0.11) 0%,
      rgba(196, 196, 196, 0) 100%
    );
    backdrop-filter: blur(2px);
  }

  .background-linear-before-footer {
    background: linear-gradient(
      359.83deg,
      #e3edff 0.16%,
      rgba(255, 209, 191, 0) 99.87%
    );
  }

  .postit {
    line-height: 1;
    text-align: center;
    width: 275px;
    margin: 25px;
    min-height: 250px;
    max-height: 250px;
    padding-top: 35px;
    position: relative;
    border: 1px solid #e8e8e8;
    border-top: 60px solid #fdfd86;
    font-family: "Reenie Beanie";
    font-size: 1.5em;
    border-bottom-right-radius: 60px 5px;
    display: inline-block;
    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #ffff88 81%,
      #ffff88 82%,
      #ffff88 82%,
      #ffffc6 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(81%, #ffff88),
      color-stop(82%, #ffff88),
      color-stop(82%, #ffff88),
      color-stop(100%, #ffffc6)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      -45deg,
      #ffff88 81%,
      #ffff88 82%,
      #ffff88 82%,
      #ffffc6 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      -45deg,
      #ffff88 81%,
      #ffff88 82%,
      #ffff88 82%,
      #ffffc6 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      -45deg,
      #ffff88 81%,
      #ffff88 82%,
      #ffff88 82%,
      #ffffc6 100%
    ); /* IE10+ */
    background: linear-gradient(
      135deg,
      #ffff88 81%,
      #ffff88 82%,
      #ffff88 82%,
      #ffffc6 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .postit:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }

  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }

  .scale-up-tr {
    -webkit-animation: scale-up-tr 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
    animation: scale-up-tr 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-2-27 16:25:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  @-webkit-keyframes scale-up-tr {
    0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
  }
  @keyframes scale-up-tr {
    0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
  }

  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
